.navbar {
  background-color: #007bff;  /* Blue color similar to the screenshot */
}

.navbar .nav-link {
  color: white;
  margin-right: 10px;
}

.navbar .nav-link:hover {
  color: #e6e6e6;
}

.navbar-brand span {
  font-weight: bold;
  color: #333;
  margin-left: 10px;
}

.navbar .ml-auto span {
  color: #333;
}

.navbar .ml-auto .nav-link {
  color: #f5f3f3;
  padding-left: 5px;
  padding-right: 5px;
}
/* navbar css*/

.header-wrapper {
  width: 100%;
  background-color: white;
}

.top-bar {
  background-color: white;
  border-bottom: 1px solid #ddd;
}

.logo {
  height: 100px;
  width: auto;
}

.site-title {
  /* font-style: Arial; */
  font-size: 30px;
  /* font-weight: bold; */
  color: #777777;
  line-height: 93px;
  padding-left: 10px;
}

.user-info {
  font-size: 1.25rem;
  color: #333;
}

.user-info a {
  color: #4f5358;
  text-decoration: none;
}

.user-info a:hover {
  text-decoration: underline;
}

/* .nav-bar {
  background-color: #007bff;
  padding: 0.5rem 0;
} */

.nav-links .nav-link {
  color: white !important;
  padding: 0.75rem 1.5rem; /*Adjusted padding for proper spacing*/
  font-size: 1rem;
}

.nav-links .nav-link:hover {
  background-color: #0056b3;
  color: #fff;
  border-radius: 5px; /* Add slight rounding for hover effect */
}

/* Adjust link spacing and alignment */
.nav-links {
  display: flex;
  justify-content: space-between; /* Ensure links are evenly spaced */
  /* width: 100%; */
}


/* Navigation Bar */
.nav-bar {
  background-color: #0984c2; /* Solid blue background for the nav bar */
  padding: 0rem 0;
}
.style{
  padding-top: 10px; 
  margin-left:10px; 
  margin-right:10px; 
  border-left:2px solid #767676; 
  height: 55px;
}


/* Highlight the active link */
.nav-links .nav-link.active {
  background-color: #0056b3;  /* Darker blue background for active link */
  border-radius: 5px;
  color: white !important;     /* Keep text white */
}

.nav-links .active {
  background-color: #007bff; /* Active button background */
  color: white; /* Active button text */
}

.nav-links .btn {
  border-radius: 5px;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
}

.btn {
  color: #fff;
}


